@import 'src/app/shared/styles/styles';

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    flex: 1;
    padding-right: 40px; 
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
}
