<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Input text"
            required
            emailValidator
            ngModel
            #emailCtrl="ngModel"
          />
          <span
            *ngIf="
              emailCtrl.invalid && (emailCtrl.touched || loginForm.submitted)
            "
            class="text-danger"
            data-testid="email-error"
          >
            <ng-container *ngIf="emailCtrl.errors?.['required']">
              Email is required.
            </ng-container>
            <ng-container *ngIf="emailCtrl.errors?.['email']">
              Invalid email format.
            </ng-container>
          </span>
        </div>

        <div class="form__control">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              ngModel
              required
              #passwordCtrl="ngModel"
            />
            <fa-icon
              [icon]="showPassword ? eyeSlash : eye"
              (click)="togglePassword()"
              class="password-toggle"
            ></fa-icon>
          </div>
          <span
            *ngIf="
              passwordCtrl.invalid &&
              (passwordCtrl.touched || loginForm.submitted)
            "
            class="text-danger"
            data-testid="password-error"
          >
            Password is required
          </span>
        </div>
      </div>

      <div>
        <div class="form__action">
          <app-button
            (click)="loginForm.ngSubmit.emit()"
            [buttonText]="'LOGIN'"
            [class.disabled]="loginForm.invalid"
          ></app-button>
        </div>
        <div class="form__text">
          If you have an account you may
          <a routerLink="/login"><strong>Login</strong></a>
        </div>
      </div>
    </div>
  </form>
</div>
